<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Main Text</key>
		<dict>
			<key>Font Size</key>
			<string>45</string>
			<key>Text</key>
			<string>Welcome to the music and emotion experiment. You are going to listen a set of musical excerpts and you will have to rate your emotional experience while you are listening each piece</string>
		</dict>
		<key>Progress Type</key>
		<string>Double Tap</string>
		<key>Sub Text</key>
		<dict>
			<key>Font Size</key>
			<integer>20</integer>
			<key>Text</key>
			<string>Please double tap to continue to the experiment
</string>
		</dict>
		<key>Type</key>
		<string>Welcome</string>
	</dict>
	<dict>
		<key>Main Text</key>
		<dict>
			<key>DoubleTap</key>
			<true/>
			<key>Font Size</key>
			<integer>33</integer>
			<key>Text</key>
			<string>Make yourself comfortable. While listening to the music please look at the cross at the screen and try not to move or blink your eyes. After you listen to each music excerpt we will ask you to rate on a scale of 1 (very low) to 7 (very strong) the presence of four emotions: happiness, anger, serenity and sadness. The experiment will start with recording your baseline state for 2 minutes. Try not to move while we are recording your baseline</string>
		</dict>
		<key>Progress Type</key>
		<string>Double Tap</string>
		<key>Sub Text</key>
		<dict>
			<key>Font Size</key>
			<integer>20</integer>
			<key>Text</key>
			<string>Please tap twice to continue
</string>
		</dict>
		<key>Type</key>
		<string>Instruction</string>
	</dict>
	<dict>
		<key>Sub Text</key>
		<dict>
			<key>Font Size</key>
			<integer>20</integer>
			<key>Text</key>
			<string>Please double tap to start the trial</string>
		</dict>
		<key>Main Text</key>
		<dict>
			<key>Font Size</key>
			<integer>35</integer>
			<key>Text</key>
			<string>The next piece is used as a trial to make you more familiar with the experiment and it will not be used for further analysis.</string>
		</dict>
		<key>Progress Type</key>
		<string>Double Tap</string>
		<key>Type</key>
		<string>Content</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Rating</string>
		<key>Progress Type</key>
		<string>Track</string>
		<key>Track Name</key>
		<string>demo.mp3</string>
	</dict>
	<dict>
		<key>Interval</key>
		<integer>5</integer>
		<key>Main Text</key>
		<dict>
			<key>Font Size</key>
			<integer>35</integer>
			<key>Text</key>
			<string>Please double tap when you are ready to start the experiment</string>
		</dict>
		<key>Progress Type</key>
		<string>Double Tap</string>
		<key>Type</key>
		<string>Content</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Rating</string>
		<key>Progress Type</key>
		<string>Track</string>
	</dict>
	<dict>
		<key>Interval</key>
		<integer>5</integer>
		<key>Main Text</key>
		<dict>
			<key>Font Size</key>
			<integer>35</integer>
			<key>Text</key>
			<string>Please double tap when you are ready to start the experiment</string>
		</dict>
		<key>Progress Type</key>
		<string>Double Tap</string>
		<key>Type</key>
		<string>Content</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Rating</string>
		<key>Progress Type</key>
		<string>Track</string>
	</dict>
	<dict>
		<key>Interval</key>
		<integer>5</integer>
		<key>Main Text</key>
		<dict>
			<key>Font Size</key>
			<integer>35</integer>
			<key>Text</key>
			<string>Please double tap when you are ready to start the experiment</string>
		</dict>
		<key>Progress Type</key>
		<string>Double Tap</string>
		<key>Type</key>
		<string>Content</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Rating</string>
		<key>Progress Type</key>
		<string>Track</string>
	</dict>
	<dict>
		<key>Interval</key>
		<integer>5</integer>
		<key>Main Text</key>
		<dict>
			<key>Font Size</key>
			<integer>35</integer>
			<key>Text</key>
			<string>Please double tap when you are ready to start the experiment</string>
		</dict>
		<key>Progress Type</key>
		<string>Double Tap</string>
		<key>Type</key>
		<string>Content</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Rating</string>
		<key>Progress Type</key>
		<string>Track</string>
	</dict>
	<dict>
		<key>Interval</key>
		<integer>5</integer>
		<key>Main Text</key>
		<dict>
			<key>Font Size</key>
			<integer>35</integer>
			<key>Text</key>
			<string>Please double tap when you are ready to start the experiment</string>
		</dict>
		<key>Progress Type</key>
		<string>Double Tap</string>
		<key>Type</key>
		<string>Content</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Rating</string>
		<key>Progress Type</key>
		<string>Track</string>
	</dict>
	<dict>
		<key>Interval</key>
		<integer>5</integer>
		<key>Main Text</key>
		<dict>
			<key>Font Size</key>
			<integer>35</integer>
			<key>Text</key>
			<string>Please double tap when you are ready to start the experiment</string>
		</dict>
		<key>Progress Type</key>
		<string>Double Tap</string>
		<key>Type</key>
		<string>Content</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Rating</string>
		<key>Progress Type</key>
		<string>Track</string>
	</dict>
	<dict>
		<key>Interval</key>
		<integer>5</integer>
		<key>Main Text</key>
		<dict>
			<key>Font Size</key>
			<integer>35</integer>
			<key>Text</key>
			<string>Please double tap when you are ready to start the experiment</string>
		</dict>
		<key>Progress Type</key>
		<string>Double Tap</string>
		<key>Type</key>
		<string>Content</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Rating</string>
		<key>Progress Type</key>
		<string>Track</string>
	</dict>
	<dict>
		<key>Interval</key>
		<integer>5</integer>
		<key>Main Text</key>
		<dict>
			<key>Font Size</key>
			<integer>35</integer>
			<key>Text</key>
			<string>The experiment has ended. Thank you for your participation !</string>
		</dict>
		<key>Progress Type</key>
		<string>Double Tap</string>
		<key>Type</key>
		<string>Content</string>
	</dict>
</array>
</plist>
